<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy | Computer Shop</title>
style
    include ../static/style1.css
</head>

<body>
    <div class="title">
        <div class="box" id="box-1">
            <img src="../static/logo2.png" alt="LOGO MISSING">
            <h2>COMPUTER SHOP</h2>
        </div>
        <div class="box" id="box-2">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="buy">Buy</a></li>
                <li><a href="sale">Sale</a></li>
                <li><a href="http://www.whatsapp.com">Contect US</a></li>
            </ul>
        </div>
        <div class="box" id="box-3">
            <input type="text" placeholder="Search Here"> 
        </div>
    </div>
    <div class="bigbox">
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/1660 super.jpg" alt="no image">
            Nvidia GeForce GTX 1660 super</a>
        </div>
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc//3060.jpeg" alt="no image">
            Nvidia GeForce RTX 3060</a>
        </div>
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/4090.jpeg" alt="no image">
            Nvidia GeForce RTX 4090</a>
        </div>
    </div>
    <div class="bigbox">
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/750 ti.jpeg" alt="no image">
            Nvidia GeForce GTX 750 TI </a>
              </div>
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/rx5700xt.jpeg" alt="no image">
            AMD Radeon RX 5700XT</a>
        </div>
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/rx580.jpeg" alt="no image">
            AMD Radeon RX 580</a>
        </div>
    </div>
    <div class="bigbox">
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/1660 super.jpg" alt="no image">
            Nvidia GeForce GTX 1660 super</a>
        </div>
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/rx5700xt.jpeg" alt="no image">
            AMD Radeon RX 5700XT</a>
        </div>
        <div class="smallbox">
            <a href="http://google.com"><img src="../static/gc/4090.jpeg" alt="no image">
            Nvidia GeForce RTX 4090</a>
        </div>
    </div>
</body>
</html>