<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Computer Shop</title>
    style
        include ../static/style.css
    </head>

<body>
    <div class="title">
        <div class="box" id="box-1">
            <img src="../static/logo2.png" alt="LOGO MISSING">
            <h2>COMPUTER SHOP</h2>
        </div>
        <div class="box" id="box-2">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="buy">Buy</a></li>
                <li><a href="sale">Sale</a></li>
                <li><a href="http://www.whatsapp.com">Contect US</a></li>
            </ul>
        </div>
        <div class="box" id="box-3">
            <input type="text" placeholder="Search Here">
        </div>
    </div>
    <div class="text">

        <h1 id="change">Welcome to our website</h1>
        <p>Here we have the best computer parts avaliable. From 20 years old GPUs to new latest High-End graphics Cards such
        RTX 4090 and RX7600XT. New and old, both graphics cards and other pc components are also avaliable.</p>
        <p> Note: Once the order is recieved can not be returned without any proper reason. Physics shops are present in every province
        in pakistan. Outer country may contect us through 03146483423. Per shiping we cut 20% GST.</p>
        <p>
            Different Locations of our physical shop in Pakistan
        </p>
        <p>
            <ul>
                <li>Peshawar</li>
                <li>Lahore</li>
                <li>Karachi</li>
                <li>Kohat</li>
                <li>Kashmir</li>
                <li>Kolkata</li>
            </ul>
        </p>
    </div>
    <div id="RealTime">
        
    </div>
</body>

</html>