*{
    margin: 0px;
    color: black;
    }
    #RealTime{
    background-color: gray;
    color:rgb(33, 33, 33);
    width: 400px;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 10px 0px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    }
    h1{
    margin: 50px;
    font-size: 50px;
    text-align: center;
    }
    .text p,.text li{
    list-style: square;
    margin: 0px 20px;
    padding: 20px;
    font-size: 20px;
    }
    .title {
    display: flex;
    justify-content: space-between;
    }
    
    .title::before {
    content: "";
    background-image: url('logoblack.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    height: 1100px;
    width: 100vw;
    z-index: -1;
    /* opacity: 0.7; */
    }
    .box {
    padding: 5px 5px;
    margin: 10px 10px;
    text-align: center;
    }
    
    #box-1 img {
    width: 5rem;
    transition: all;
    transition-duration: 2s;
    }
    
    #box-1 {
    transition: all 2s;
    position: relative;
    }
    
    #box-1:hover {
    transform: scale(1.5);
    }
    
    #box-1 h2 {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    font-size: 12px;
    }
    
    #box-2 ul {
    display: flex;
    flex-direction: row;
    margin: 20px;
    }
    
    #box-2 li {
    list-style: none;
    }
    
    #box-2 a {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 10px 50px;
    padding: 10px 10px;
    transition-property: all;
    transition-duration: 1s;
    }
    
    #box-2 a:hover {
    color: gray;
    box-shadow: inset 2px 2px 10px gray;
    border-radius: 10px;
    font-size: 40px;
    }
    
    #box-3 input {
    font-size: 15px;
    margin: 20px 0px;
    width: 170px;
    transition: all 2s;
    opacity: 0.5;
    }
    
    #box-3 input:hover {
    font-size: 30px;
    width: 250px;
    color: black;
    opacity: 0.7;}
    /* Buy */
    .bigbox{
        /* background-color: gray; */
        margin: 40px 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .smallbox{
        /* background-color: rgb(118, 102, 102); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 2s;
        padding: 5px;
        font-size: 20px;
    }
    .smallbox a{
        width: 350px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        border: 2px solid gray;
        padding: 20px;
        justify-content: center;
        align-items: center;
        background-color: rgb(37, 37, 37);
    }
    .bigbox img{
        width: 200px;
        height: 200px;
        border-radius: 25px;
    }
    .smallbox:hover{
        transform: scale(1.5);
    }
        /* Sale */
    .container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: space-around;
    align-items:center;
    margin: auto;
    }
    .container input{
    margin: 50px;
    display: block;
    font-size: 20px;
    color: black;
    opacity: 0.5;
    transition: all 2s;
    }    
    .container button{
    font-size: 20px;
    background-color: transparent;
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 2s;
    cursor: pointer;
    }
    .container input:hover,.container button:hover{
    transform: scale(1.5);
    }    
    